
body{
    background-color: #d6ddec;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: #1f2937;
    padding: 20px;
    font-size: large;
    margin: 10px auto;
    width: 80%;
    max-width: 80%;
}
.container{
    padding: 10px 20px;
    margin: 10px auto;
    width: 90%;
    max-width: 90%;
} 
.brand-logo {
    width: 50%;        
    max-width: 50%;
    height: auto;        
    margin: 20px auto; 
    display: flex;      

}
h1{
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    margin: 10px auto;

}
#text-body{
    font-weight: 400;
    font-style: normal;
    margin: 20px auto;
    font-size: 15px;
    padding: 10px;
    line-height: 1.6;
    color: #333;
    text-align: left;
    max-width: 90%;
    width: 90%;
}
#voter-btn{
    background-color: #15ab7beb;
}
#admin-btn{
    background-color: #2563eb;
}
#voter-btn:hover{
    background-color: #086548eb;
}
#admin-btn:hover{
    background-color: #043293;
}
#sign-in{
    display: flex;
    justify-content: center; 
    gap: 20px;               
    flex-wrap: wrap;
    margin: 50px auto;
}
.features-grid {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px auto;
    width: 100%;
    max-width: 100%;
  }

.feature-item {
    background: #11ba82b7;
    padding: 10px;
    border-radius: 8px;
    width: 40%;
    text-align: center;
    font-weight: bold;
  }
button {
  display: inline-flex;
  align-items: center;
  padding: 12px 24px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff; 
  border-radius: 8px; 
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0,0,0,0.15);
}