.container{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    gap: 30px;
}
.chart-group{
    border: 1px solid #e5e7eb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}