body {
    border-radius: 10px;
    margin: 10px;
    padding: 10px 10px;
    background-color: #EBF2F7;
    color: #333;
    padding: auto 10px;
}
.container{
    max-width: 500px;
    margin: auto;
    padding: 20px;
    display: grid;
    gap: 30px;
}
.chart-group{
    border: 1px solid #e5e7eb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    position: relative; 
    height: 300px; 
    width: 90%;
}
h1{
    text-align: center;
}